:root {
  --fonte: 'Montserrat', sans serif;
  --preto:#000000;
  --branco: #ffffff;
  --cinza: #E2E2E2;
  --cinza-claro:#f0f0f0;
}

body {
  margin: 0;
  font-family:var(--fonte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
